.ShoutoutCard {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  border-radius: 10px;
}

.ShoutoutCard h2 {
  font-size: 20px;
}

.ShoutoutCard .from {
  color: #666;
  display: flex;
  align-items: center;
}

.ShoutoutCard .from * {
  margin: 0 5px;
}

.ShoutoutCard .message {
  margin-top: 10px;
}

.ShoutoutCard .message,
.ShoutoutCard h2 {
  color: #333;
}

.ShoutoutCard p img {
  width: 35px;
  border-radius: 50%;
}

.ShoutoutCard .uploaded-img {
  width: 200px;
}
